<div class="row">
    <div class="col-3">
        <app-search-bar (updateFilteredProducts)='updateFilteredProductsParent($event)' [products]="products"
            [filteredProducts]="filteredProducts"></app-search-bar>
    </div>
    <div class="col-9 products-margin">
        <div class="row mt-5">
            <span id="search-result">321 results found for <b>Televisons</b></span>
        </div>
        <div class="row mt-3">
            <div *ngFor="let product of filteredProducts" class="col-lg-4 col-md-6 col-sm-12">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
    </div>
</div>
